<section class="section-contact">

  <h3 id="contact">Blog Posts</h3>


  <!-- <div class="social-links"> -->
    <p>
    {% for link in site.data.settings.posts %}


    <!-- <a href="{{ link.link }}" >{{link.name}}</a> -->
    <a href="{{ link.link }}" >{{link}}</a>
    {% endfor %}
  </p>
  <!-- </div> -->
  <hr class="bar">
  <!-- <div class="social-links"> -->
  <p>
  {% for link in site.data.settings.blog %}


  <!-- <a href="{{ link.link }}" >{{link.name}}</a> -->
  <a href="{{ link.link }}" >{{link}}</a>
  {% endfor %}
</p>
  <!-- </div> -->

  <hr class="bar">

  <!-- <a class="biglink" href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a> -->

</section>
